<!doctype html>
<html>
        <head>
        <title>{% block titulo %} Inicio {% endblock %}</title>
        <link rel="stylesheet" href="/public/css/estilo.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="https://kit.fontawesome.com/7663c2e39e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "menu_public.njk" %}
        <div class="container">
            {% block contenido %}

            {% endblock %}
        </div>
    </body>
</html>